* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFD4;
    font-family: 'Roboto', sans-serif;
}

img.fejlec-kep {
    width: 1206px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #b77d00;
    mask-image: linear-gradient(#000, rgba(0, 0, 0, 0));
}
header {
    margin-bottom: 30px;
}

div.main-content {
    background-color: white;
    color: #555;
    width: 70%;
    margin: 30% auto;
    margin-top: 20px;
    border: 2px solid #b77d00;
    overflow: hidden;
    border-radius: 10px;
}


nav ul {
    list-style-type: none;
    max-width: 900px;
    margin: 0 auto;
}

nav li {
    display: inline;
    width: 20px;
    text-align: center;
    margin: 20px;
    padding: 25px;
    border-radius: 5px;
    background-color: #FF7F2A;

}

nav li a {
    text-decoration: none;
    color: white;
    padding: 30px;
}

nav li:hover {
    background-color: #BF153F;
}

div.sub-content {
    margin: 20px;
    padding: 25px;
    text-align: center;
    line-height: 40px;
}

p {
    text-align: justify;
    margin-left: 10px;
}

section {
    margin: 30px;
}

iframe {
    display: block;
    width: 1210px;
    height: 200px;
    padding: 1px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
  }

  .sub-pictures {
    float: left;
    width: 30%;
    margin-right: 10px;
    margin-bottom: 10px;
  }


